[user]
  name = Dan Suh
  email = kaehops@gmail.com
[core]
  excludesfile = ~/.gitignore_global
  commentChar = ";"
[push]
  default = simple
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
