# Ignore everything
*

# Except these
!*.vimrc
!*.bash_profile
!*.zshrc
!.gitignore
!.ycm_extra_conf.py
!.tmux.conf
!.gitconfig
!README.md
!intellij_settings.jar
!.ideavimrc

# first whitelist the folder
!.vim/
!.vim/skel/
!.vim/skel/*

# this is how you un-ignore subdirectories
# !~/.vim/  # un-ignore first
# ~/.vim/*  # ignore everything underneath...
# !~/.vim/skel/  # ...except this
